{
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": [
    "airbnb-typescript",
    "next",
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/require-default-props": "off",
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "quotes": ["error", "single"],
    "import/prefer-default-export": "off",
    "unused-imports/no-unused-imports": "error",
    "react/jsx-props-no-spreading": "off",
    "unused-imports/no-unused-vars": ["error", { "argsIgnorePattern": "_" }],
    "no-unused-vars": [2, { "args": "all", "argsIgnorePattern": "_" }],
    "@typescript-eslint/ban-ts-comment": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "internal", "external", "parent", "type"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "~/**",
            "group": "external"
          },
          {
            "pattern": "@app/shared/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@app/components/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@app/shared/types/**",
            "group": "external",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": ["builtin", "builtin", "type"]
      }
    ]
  }
}
