{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "jsxSingleQuote": false
}
